/*.truncate{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

*/
.boxShadow{

-webkit-box-shadow: 0px 5px 35px -10px rgba(105,105,105,1);
-moz-box-shadow: 0px 5px 35px -10px rgba(105,105,105,1);
box-shadow: 0px 5px 35px -10px rgba(105,105,105,1);
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Scope One', serif !important;
	margin: 0px;

}

.main-font{
	font-family: 'Scope One', serif !important;
}

body{
	margin: 0px;
	font-family: 'Scope One', serif !important;
	
}

#full{

	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: 100vh;

}


.left-container{
	width: 70%;
	float: left;
	z-index: -1;
}

.right-container{
	background-color: #F1F2EE;
	width: 30%;
	height: 100vh;
	float:right;
}

.right-content{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

}

.logo{
	text-align: center;
}
.logo img{
	width: 15%;
	display:inline-block;
}

.logo h1{
	font-family: 'Abel', sans-serif !important;
	margin: 0px;
	font-weight: 800;
	display:inline;

}

.login-form{
	text-align: center;
	margin-top: 20px;
}

.login-user-btn{
	background-color: #D2CE41;
}

.login-user-btn:hover{
	background-color: #A9A534;
}

/*.login-guest-btn{
	background-color: #218380;
}

.login-guest-btn:hover{
	background-color: #404250;
}*/

.register-btn{
	margin-top: 10px;
    width: 60%;
}

.register-form{
	text-align: center;
	padding: 15px;
	display: none;
}

.backtologin-btn{
	position: absolute;
	padding-top: 5px;
}

.submitreg-btn{
	margin-top: 10px;
	float: right;
}




.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



/*START OF INDEX*/
.blog-grid{
	margin-top: 20px;
}

.tag-board{
	padding: 5px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.tag-chips{
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	background: #1e87f0 !important;
	color: #fff !important;
	margin: 5px 5px;
}

.tag-title{
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
}
.user-panel{
	color: #F1F2EE;
	background-color: #222;
	width: 20%;
	height: 100vh;
	float:left;

}

.user-panel .content{
	padding: 15px;
}

.top-nav{
	background-color: #EAE151;
	border-bottom: 2px solid #D5CD4A;
	position: fixed;
    width: 100%;
    z-index: 99999999;
}

.top-nav .content{
	margin: 0px 50px;
	padding: 10px;
}

.top-nav .content .logo{
	display: inline;
}

.top-nav .content .logo img{
	width: 5%;
}

.top-nav .content .logo img:hover{
	width: 5%;
	color: #D2CE41;
}

.top-nav .content .logo h1{
	display: inline;
	position: relative;
	top: 5px;
	font-size: 32px;

}

.nav-links{
	display:inline-block;
	font-weight: 600;
	padding-left: 30px;

}

.nav-links ul, li{
	display: inline-block;
}


.nav-links li{
	/*margin-right: 20px;*/
	width: 70px;
    text-align: center;
    padding: 5px;
}

.nav-links a{
	color: #333;
}

.nav-links a:hover{
	color: #fff;
}

.nav-links li:hover{
	background-color: #333;
	
}

.search{
	display: inline-block;
	float: right;
}

.hamburger{
	margin-right: 20px;
	color: #222;
	display: inline-block;
}

.hamburger:hover{
	color: #D2CE41;
}

.main-wrapper{
	background-color: #F8F9F7;
	height: auto;

}

.main-content{
	margin: 0px 60px;
	padding: 110px 0px;
}

.whatsnew-lbl{
	font-family: 'Scope One', serif !important;
}

.whatsnew-card{
	padding: 10px !important;
}

.post-header{
	margin-bottom: 5px;
}
.post-header h3{
	font-weight: 600;
}

.post-author{
	display:inline-block;
}

.post-author img{
	width: 25px;
	height: 25px;

}


.post-divider{
	margin: 0px;
}

.post-details{
	display: inline-block;
    vertical-align: middle;
}

.post-details h6{
	display:inline;
}
.post-details a{
	color: #333;
}
.post-details a:hover{
	text-decoration: none;
	color: #EAE151;
	border-top: 2px solid #333;
	
}

.post-content p{
	margin: 10px 0px;
	font-size: 14px;
}

.post-tags{
	display:inline;
}

.post-tags .uk-label{
	font-size: 12px
}
/*END OF INDEX*/



.text-overlay{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-overlay h1{
	/*width: auto;*/
    font-size: 64px;
    color: #D2CE41;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.9);
    padding: 5px 10px;
}

.nav-left img{
	width: 200px;

}

.viewblog-btn{
	color: #222 !important;
}

.newpost-btn{
	background-color: #D2CE41 !important;
	color: #fff !important;
}

.uk-offcanvas{
	position: static;
}

.uk-open>.uk-offcanvas-bar{
	width: 20%;
}


/*START OF PROFILE*/

.profile-container{
	padding: 30px;
	border-radius: 5px 5px 0px 0px;
}

.profilepic{
	width: 150px;
	display: inline-block!important;
	margin-right: 20px;
	float: left;
}

.profilepic img{
	border-left: solid 5px #eee;
}

.profile-name{
	font-weight: 600;
	display:inline-block;
}
.info-left{
	width: 70%;
	display: inline-block;
}
.bio{
	margin: 10px 0px;
}

.profile-info{
	display:inline-block!important;
	width: 600px;
}

.member-date{
	width: 150px;
    display: inline;
}

.social-media{
	display: inline-block;
    margin-left: 10px;

}

.profile-icon:hover{
	color: #EEEFA8 !important;
}

.name-divider{
	margin: 0px;
}

.user-location{
	margin-left: 10px;
    display: inline-block;
    font-weight: 600;
}

.info-right{
	display: inline-block;
	float: right;
}

.follow-icon, .unfollow-icon{
	margin-right: 5px;
}

.follow-btn, .unfollow-btn{
	padding: 0px 10px;
}

.unfollow-btn{
	display:none;
}
.post-body{
	padding: 20px;
}

.post-title{
	font-weight: 600;

}
.post-par{
	width: 100px;
	-webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
/*  border: 1px solid #ddd;*/
  margin: 0;
}
/*END OF PROFILE*/

/*SINGLE POST*/

.blog-post{
	width: 78%;
	background-color: #FDFDFD;
	padding: 30px;
	display: inline-block;
}

.blog-post .tags{
	width: 60%;
	margin-top: 20px;
}

.post-tag{
	margin-right:5px;

}

/*.blog-comments{
	width: 60%;
}*/

.blogpost-author{
	float: right;
    width: 15%;
    display: inline-block;
    position: fixed;
}

.blogpost-author h4{
	font-weight: 600;
	color: #fff;
}

.about-author{
	padding: 20px;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.author-pic img{
	width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.share-links{
	margin-top: 10px;
}
.blog-comment{
	display: block;
}

.post-comment-btn, .replycomment-btn1, .replycomment-btn2{
	margin: 10px 0px;
	float: right;
}
.comment-reply{
	width: 60%;
    padding: 20px;
    background-color: #EFEDBE;
    display: block;
    float: right;
}

/*.comment-form textarea{
	width: 100%;
	border:none;
}
*/

.user-comment img{
	display:inline-block;
}

.user-comment-info{
	display: inline-block;
    margin-left: 10px;
}

.reply-comment{
	padding: 15px;
    width: 70%;
    float: right;
    background-color: #EFEDBE;
}

/*END OF SINGLE POST*/

.create-post-container h2{
	font-weight: 600;
}

.cp-title{
	margin-bottom: 20px;
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.create-post-btn{
	font-weight: 600;
	float: right;
	margin: 10px 0px;
}

#mytextarea{
	margin-bottom: 10px !important;
}

.replycomment-container1, .replycomment-container2{
	display:none;
	margin-top: 10px;
}
